bin/debug/crypto.dll
bin/debug/MKEncryptor_Core.pdb
bin/debug/MKEncryptor_Interfaces.dll
MKEncryptor.v12.suo
MKEncryptor.sln.DotSettings.user
/src/MKEncryptor_Console/obj/Debug
/bin/debug
/src/MKEncryptor_BCProvider/obj/Debug
/src/MKEncryptor_Core/obj/Debug
/src/MKEncryptor_Interfaces/obj/Debug
/tests/MKEncryptor_BCProvider_Tests/bin/Debug
/tests/MKEncryptor_BCProvider_Tests/obj/Debug
/tests/MKEncryptor_Core_Tests/bin/Debug
/tests/MKEncryptor_Core_Tests/obj/Debug
*.suo
/src/MKEncryptor_WinRT/bin/Debug
/src/MKEncryptor_WinRT/obj/Debug
/obj/debug/UWP
/src/MKEncryptor_UWP/obj/x86/Debug
/bin/release
/obj/release/UWP
/src/MKEncryptor_BCProvider/obj/Release
/src/MKEncryptor_Console/obj/Release
/src/MKEncryptor_Core/obj/Release
/src/MKEncryptor_Interfaces/obj/Release
/src/MKEncryptor_UWP/obj/x86/Release
/src/MKEncryptor_WinRT/obj/Release
/tests/MKEncryptor_BCProvider_Tests/obj/Release
/tests/MKEncryptor_Core_Tests/obj/Release
